body{
	background-color: white;
	border-style: solid;
	border-color: red;
	border-width: 10px;
	margin: 0px;
	padding: 0px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
}
